<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>
<nav th:replace="fragments/nav"></nav>


<div class="container" id="main-container">
    <h2>Profesores</h2>
    <p>Las Profesores que actualmente figuran en el sistema son las siguientes:</p>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Dni</th>
                <th scope="col">Name</th>
                <th scope="col">Surname</th>
                <th scope="col">Category</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="teacher : ${teacherList}">
                <td scope="row" th:text="${teacher.dni}"> 1</td>
                <td th:text="${teacher.name}"> Ejercicio 1</td>
                <td th:text="${teacher.surname}">10</td>
                <td><a th:href="${'/teacher/details/' + teacher.dni}">detalles</a></td>
                <td><a th:href="${'/teacher/edit/' + teacher.dni}">modificar</a></td>
                <td><a th:href="${'/teacher/delete/' + teacher.dni}">eliminar</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${#lists.isEmpty(markList)}"> No Teachers </div>
</div>


</body>
</html>
